---
import GardenLayout from "../layouts/GardenLayout.astro";
import GardenMap from "../components/GardenMap.astro";
import { defaultLocale, useTranslations } from "../i18n";

const t = useTranslations(defaultLocale);
---

<GardenLayout
  title={t.home}
  description={t.homeDescription}
  locale={defaultLocale}
>
    <p class="intro">
      {t.intro}
    </p>

    <GardenMap />
</GardenLayout>
