---
---

<div id="container">
	<main>
        <h1>404 Garden</h1>
            <p><i>A hypertext garden of lost pages, software specimens, and unfinished paths.</i></p>
        <hr>
	</main>
</div>

<style></style>
